<h3>{{user.email}}</h3>

<h4>Roles</h4>
<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Current Roles <small>click to remove</small></h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group">
			  <button ng-repeat="role in user.roles" type="button" class="list-group-item" ng-click="removeFromRole(role.id, $event)">{{role.name}}</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Available Roles <small>click to add</small></h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group">
			  <button ng-repeat="role in roles" type="button" class="list-group-item" ng-click="addToRole(role.id, $event)">{{role.name}}</button>
			</div>
		  </div>
		</div>
	</div>
</div>


<h4>Entitlements (in addition to entitlements granted by role)</h4>
<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Current Entitlements <small>click to remove</small></h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group">
			  <button ng-repeat="entitlement in user.entitlements" type="button" class="list-group-item" ng-click="removeEntitlement(entitlement.id, $event)">{{entitlement.name}}</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Available Entitlements <small>click to add</small></h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group">
			  <button ng-repeat="entitlement in entitlements" type="button" class="list-group-item" ng-click="giveEntitlement(entitlement.id, $event)">{{entitlement.name}}</button>
			</div>
		  </div>
		</div>
	</div>
</div>

<h4>Custom Attributes</h4>

<ul>
	<li ng-repeat="attr in user.customAttributes">
		<a href="#/customattribute/{{attr.id}}">{{attr.key}} : {{attr.value}}</a>
		<button type="button" class="btn btn-sm btn-primary" aria-label="Remove" ng-click="removeAttr($index)">
		  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	</li>
</ul>

<form ng-submit="createCustomAttr()">

  <h4>Create New Custom Attribute for this User</h4>

  <div class="form-group"">
    <label for="key">Attribute Key</label>
    <input type="text" class="form-control" id="key" placeholder="Key" ng-model="attrKey" required>
  </div>
  <div class="form-group">
    <label for="val">Attribute Value</label>
    <input type="text" class="form-control" id="val" placeholder="Value" ng-model="attrValue" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>