


<h3>{{application.name}}</h3>
<div class="row">
  <div class="col-md-2">
    <!--Sidebar content-->

  </div>
  <div class="col-md-10">
    <!--Body content-->

    <div>Email: {{application.email}}</div>
    <div>App Id: {{application.id}}</div>
    

  </div>
</div>

<h4>Custom Attributes for this Application</h4>

<ul>
	<li ng-repeat="attr in application.customAttributes">
		<a href="#/customattribute/{{attr.id}}">{{attr.key}} : {{attr.value}}</a>
		<button type="button" class="btn btn-sm btn-primary" aria-label="Remove" ng-click="removeAttr($index)">
		  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	</li>
</ul>

<form ng-submit="createCustomAttr()">

  <h4>Create New Custom Attribute for this Application</h4>

  <div class="form-group"">
    <label for="key">Attribute Key</label>
    <input type="text" class="form-control" id="key" placeholder="Key" ng-model="attrKey" required>
  </div>
  <div class="form-group">
    <label for="val">Attribute Value</label>
    <input type="text" class="form-control" id="val" placeholder="Value" ng-model="attrValue" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
